<div class="stats-grid">
  <div class="stat-item">
    <mat-icon>format_list_numbered</mat-icon>
    <div class="stat-value">{{ currentSet() }}</div>
    <div class="stat-label">Manches jouées</div>
  </div>
  
  <div class="stat-item">
    <mat-icon>group</mat-icon>
    <div class="stat-value">{{ totalPlayers() }}</div>
    <div class="stat-label">Joueurs participants</div>
  </div>
  
  <div class="stat-item">
    <mat-icon>sports_tennis</mat-icon>
    <div class="stat-value">{{ totalCourts() }}</div>
    <div class="stat-label">Terrains utilisés</div>
  </div>
</div>
